@import "./variables";
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: Mulish, sans-serif;
}
a {
  text-decoration: none;
}

div img {
  width: 100%;
}
.page {
  margin-top: 76px;
  padding: 0 104px;
}
button {
  transition: 0.3s all;
}
button:hover {
  transform: scale(1.01);
}
